@import './theme.sass'
@import './mixins.sass'

html
  height: 100%
  font-family: $primary-font
  font-size: 0.875rem

body
  height: 100%
  background-color: $palette1
  color: $palette3
  @include flex-column-center-center
