@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap')

$primary-font: 'Roboto', sans-serif

/* color palette at https://coolors.co/19120c-332922-fff7f2-70a886-8670a8 */

$palette1: #19120c
$palette2: #332922
$palette3: #fff7f2
$palette4: #70a886
$palette5: #8670a8
